/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu-side {
  padding-top: 30px;
}

.nav-menu-side * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu-side > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu-side a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu-side a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu-side a:hover,
.nav-menu-side .active > a,
.nav-menu-side li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu-side a:hover i,
.nav-menu-side .active > a i,
.nav-menu-side li:hover > a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #149ddd;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.footer-side {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

.footer-side .copyright {
  text-align: center;
}

.footer-side .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  .footer-side {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
