.entrainement .videos {
  display: flex;
  justify-content: center;
}
#player {
  width: 540px;
  height: 260px;
}
@media (min-width: 1000px) {
  .entrainement {
    margin-left: 200px;
  }
}
.vid-margin {
  margin-top: 45px;
}
