/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.headerSide {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  overflow-y: auto;
  background-color: #ffa500;
}

.headerSide .profile img {
  margin: 15px auto;
  display: block;
  width: 80px;
  border-radius: 50%;
}

.headerSide .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

.headerSide .profile h1 a,
.headerSide .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 1199px) {
  .headerSide {
    margin-left: -1000px;
  }
}

/*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu-side {
  padding-top: 30px;
}

.nav-menu-side * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu-side > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu-side a {
  display: flex;
  justify-content: center;
  color: white;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 20px;
}

.nav-menu-side a:hover,
.nav-menu-side .active > a,
.nav-menu-side li:hover > a {
  text-decoration: none;
  color: black;
}

.nav-menu-side a:hover i,
.nav-menu-side .active > a i,
.nav-menu-side li:hover > a i {
  color: #149ddd;
}

/*--------------------------------------------------------------
    # Footer
    --------------------------------------------------------------*/
.footer-side {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

.footer-side .copyright {
  text-align: center;
}

.footer-side .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}
@media (max-width: 1199px) {
  .footer-side {
    margin-left: -1000px;
  }
}
/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
  margin-left: 20%;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";

  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}
/*--------------------------------------------------------------
  # button toggle
  --------------------------------------------------------------*/
.toggle-button {
  margin-left: 20px;
  position: absolute;
}
@media (max-width: 1199px) {
  .toggle-button {
    position: fixed;
    background-color: #ffa500;
    width: 100%;
    margin-left: 0;
    padding-left: 20px;
  }
}
