/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
.headerSide {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  overflow-y: auto;
  background-color: #ffa500;
  margin-left: -25%;
}

.headerSide .profile img {
  margin: 15px auto;
  display: block;
  width: 80px;
  border-radius: 50%;
}

.headerSide .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

.headerSide .profile h1 a,
.headerSide .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu-side {
  padding-top: 10%;
}

.nav-menu-side * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu-side > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu-side a {
  display: flex;
  justify-content: center;
  color: white;
  padding: 12px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 20px;
}

.nav-menu-side ul li a:hover {
  text-decoration: none;
  background-color: black;
}

/*--------------------------------------------------------------
    # Footer
    --------------------------------------------------------------*/
.footer-side {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: relative;
  width: 100%;
  margin-right: -15px;
  z-index: 9999;
  background: #040b14;
  margin-left: -15px;
  margin-top: auto;
}

.footer-side .copyright {
  text-align: center;
}

.footer-side .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

/*--------------------------------------------------------------
  # button toggle
  --------------------------------------------------------------*/
.toggle-button {
  margin-left: 20px;
  position: fixed;
  background-color: black;
  width: 100%;
  margin-left: 0;
  padding-left: 20px;
  color: white;
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
  .toggle-button {
    position: fixed;
  }
  .content {
    margin-top: 40px;
  }
}
.image_profile {
  margin: 15px auto;
  display: block;
  height: 80px;

  border: 8px solid #2c2f3f;
}

.toggle-button {
  width: 100%;
}

.toggle-button a {
  margin-left: auto;
  margin-right: 10px;
  font-weight: bold;
}
